---
layout: page
titles:
  # @start locale config
  en      : &EN       Tag
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
  zh-Hans : &ZH_HANS  标签云
  zh      : *ZH_HANS
  zh-CN   : *ZH_HANS
  zh-SG   : *ZH_HANS
  zh-Hant : &ZH_HANT  标签云
  zh-TW   : *ZH_HANT
  zh-HK   : *ZH_HANT
  ko      : &KO       标签云
  ko-KR   : *KO
  fr      : &FR       Tag
  fr-BE   : *FR
  fr-CA   : *FR
  fr-CH   : *FR
  fr-FR   : *FR
  fr-LU   : *FR
  # @end locale config
---

<div class="layout--archive js-all">
  {%- include tags.html -%}
</div>
{{ content }}