<!-- start custom article footer snippet -->

<style>
    .QR_container{
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 30px;
    }

    .QR_container img{
      width: 10rem;
      height: auto;
    }

    .qr_title{
      font-size: 1rem;
    }
    .zhuan{
      text-align: center;
      padding: 10px;
      background-color: rgb(246, 234, 255);
      
    }
  </style>
  <!--<div class="QR_container">
    <span class="qr_title">生活需要惊喜</span>
    <span>突然收到来自文章的支持我想我会乐开花-v-</span>
    <img src="../../../assets/images/qr_code/WechatIMG52.png" alt="此处是二维码">
  </div> -->
  <div class="zhuan">本文为博主原创文章，知识共享，开源精神，转载注明出处。</div>
<!-- end custom article footer snippet -->